{% extends 'base.html.twig' %}

{% block title %}Hello RootController!{% endblock %}

{% block body %}
<style>
    .deal-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 75px;
    }

    .one-deal a{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 325px;
            border-style: solid;
            border-radius: 10px;
            padding: 10px;
    }
    .one-deal img{
            max-width: 100%;
    }
    h1 {
            display: flex;
            justify-content: center;
            margin-right: 10px;
    }

    .flex-center {
            display: flex;
            justify-content: center;
    }

    .title {
            font-style: italic;
            font-weight: bold;
            font-size: 25px;
    }

    .degres {
            color: firebrick;
            font-weight: bold;
    }

    .create-deal {
            background-color: limegreen;
            color: black;
            border: 2px solid black;
            border-radius: 6px;
            padding: 5px;
            text-decoration: none;
    }

    #tabContainer {
            margin: 50px;
    }

    .mr_tabs {
            margin-right: 15%;
    }

    .font_tabs {
            font-family: "Trebuchet MS", serif;
            font-size: 30px;
    }
</style>

{% if tabSelected == 'all deals' %}
        <div id="tabContainer">
                <div class="flex-center">
                        <a class="neutral_a font_tabs mr_tabs" href="{{ path('app_root') }}"><strong>Tous les Deals</strong></a>
                        <a class="neutral_a font_tabs" href="{{ path('app_a_la_une') }}">À la une</a>
                </div>
                <hr>
        </div>
{% elseif (tabSelected == 'a la une') %}
        <div id="tabContainer">
                <div class="flex-center">
                        <a class="neutral_a font_tabs mr_tabs" href="{{ path('app_root') }}">Tous les Deals</a>
                        <a class="neutral_a font_tabs" href="{{ path('app_a_la_une') }}"><strong>À la une</strong></a>
                </div>
                <hr>
        </div>
{% endif %}>
<a class="create-deal" href="{{ path('app_create_deal') }}">+ Nouveau Deal</a>
<div class="flex-center">
<div class="deal-grid">
    {% for deal in deals %}
        <div class="one-deal">
                <a class="neutral_a" href="/deal/{{ deal.id }}">
                        <p class="flex-center title">{{ deal.title }}</p>
                        <img class="flex-center" src="{{ deal.image }}" alt="{{ deal.title }}">
                        <p class="flex-center">{{ deal.description }}</p>
                        <p class="flex-center">Prix avant réduction : <strong>{{ deal.fullPrice }}€</strong></p>
                        <p class="flex-center">Prix Courant : <strong>{{ deal.currentPrice }}€</strong></p>
                        <p class="flex-center degres">{{ deal.degres }}°</p>
                </a>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
