{% extends 'base.html.twig' %}

{% block title %}{{ deal.title }}{% endblock %}

{% block body %}
    <style>
        {{ include('deal_detail/deal.css') }}
    </style>
    <h2>{{ deal.title }}</h2>
    <main>
        <div class="deal_desc">
            <div class="deal_desc_text">
                <p>{{ deal.description }}</p>
            </div>
            <div class="image_container">
                <img src="{{ deal.image }}" alt="{{ deal.title }}">
            </div>
        </div>
        <div class="specs">
            <div class="prices">
                <div>Prix concéillé: <span>{{ deal.fullPrice }}</span>€</div>
                <div>Prix: <span>{{ deal.currentPrice }}</span>€</div>
            </div>
            <div class="deal_degrees">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ form_start(likeForm) }}
                    {{ form_row(likeForm.degres_down) }}
                {% endif %}
                <span>{{ deal.degres }}°</span>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ form_row(likeForm.degres_up) }}
                    {{ form_end(likeForm) }}
                {% endif %}
            </div>
            <a class="goto_external_deal" href="{{ deal.link }}">En Profiter !</a>
        </div>
        <div>
            <h3>Commentaires</h3>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div>
                    {{ form_start(addCommForm) }}
                        {{ form_row(addCommForm) }}
                        <button type="submit" class="btn">Comment</button>
                    {{ form_end(addCommForm) }}
                </div>
            {% endif %}
            {% for comment in deal.comments %}
                <div class="comment">
                    <div class="comment_header"><span class="comment_login">{{ comment.theuser.login }}</span> <span class="comment_date">{{ comment.createdAt|date("d/m/Y") }}</span></div>
                    <p class="comment_content">{{ comment.content }}</p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
