{% extends 'base.html.twig' %}

{% block title %}{{ deal.title }}{% endblock %}

{% block body %}
    <style>
        h2{
            margin-left: 5%;
        }
        main {
            width: 80%;
            margin-left: 10%;
            display: flex;
            flex-direction: column;
        }
        .deal_desc{
            display: flex;
            flex-direction: row;
        }
        .deal_desc .deal_desc_text p{
            max-width: 80%;
        }
        .deal_desc .image_container{
            display: flex;
            justify-content: space-between;
            gap: 10%;
        }
        .deal_desc .image_container img{
            width: 320px;
            height: 180px;
            justify-content: center;
            align-self: center;
        }
        .specs{
            display: flex;
            flex-direction: column;
            align-items: end;
            text-align: right;
            margin-top: 16px;
        }
        .specs .deal_degrees{
            color: firebrick;
            font-weight: bold;
        }
        .specs .goto_external_deal{
            background-color: goldenrod;
            color: black;
            text-decoration: none;
            padding: 4px 8px;
            border-radius: 8px;
        }
        .comment{
            border: solid;
            border-radius: 8px ;
            padding: 16px;
            margin-top: 8px;
        }
        .comment_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .comment_header .comment_login {
            font-weight: bold;
        }
        .comment_header .comment_date{
            font-style: italic;
        }
        .comment_content{
            width: 80%;
            margin-left: 10%;
            text-align: justify;
        }
    </style>
    <h2>{{ deal.title }}</h2>
    <main>
        <div class="deal_desc">
            <div class="deal_desc_text">
                <p>{{ deal.description }}</p>
            </div>
            <div class="image_container">
                <img src="{{ deal.image }}" alt="{{ deal.title }}">
            </div>
        </div>
        <div class="specs">
            <div class="prices">
                <div>Prix concéillé: <span>{{ deal.fullPrice }}</span>€</div>
                <div>Prix: <span>{{ deal.currentPrice }}</span>€</div>
            </div>
            <div class="deal_degrees">{{ deal.degres }}°</div>
            <a class="goto_external_deal" href="{{ deal.link }}">En Profiter !</a>
        </div>
        <div>
            <h3>Commentaires</h3>
            {% for comment in deal.comments %}
                <div class="comment">
                    <div class="comment_header"><span class="comment_login">{{ comment.theuser.login }}</span> <span class="comment_date">{{ comment.createdAt|date("d/m/Y") }}</span></div>
                    <p class="comment_content">{{ comment.content }}</p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
